@import "../vars.scss";

.footer {
	width: 100%;
	height: 100px;
	@include flex;
	a {
			color: $white;
			font-size: 14px;
			cursor: pointer;
			padding: 0 0 0 30px;
			text-decoration: none;
			font-family: 'Muli', sans-serif;
	}
	a:hover {
			text-decoration: underline;
	}
}
